[Unit]
Description=API service
PartOf=warden.target

[Service]
WorkingDirectory=/opt/warden
ExecStart=/opt/warden/venv/bin/python -m uvicorn warden.api.main:app --host 0.0.0.0 --port 4207
Restart=always
RestartSec=3
SyslogIdentifier=warden

[Install]
WantedBy=multi-user.target