[Unit]
Description=Warden

[Service]
WorkingDirectory=/opt/warden
ExecStart=/opt/warden/venv/bin/python -m warden
Restart=always
RestartSec=3
SyslogIdentifier=warden

[Install]
WantedBy=multi-user.target